@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import "tailwindcss";

@theme {
    --color-background: #222831;
    --color-primary: #FFFFF5;
    --color-secondary:#2D3250;
    --font-nunito: 'Nunito', sans-serif;
}

body{
    background-color: var(--color-background);
    color: var(--color-primary);
    font-family: var(--font-nunito);
}

